 <table class="table">
    <h2 class="text-center py-3">{{series.titulo}}</h2>
        <thead>
            <th>Nombre</th>
            <th>Director</th>
            <th>Año Estreno</th>
        </thead>
        <tbody>
            {{#each series.series}}
            <tr>
            <td>{{this.nombre}}</td>
            <td>{{this.temporadas}}</td>
            <td>{{this.anio_estreno}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>