<h1 class="text-center py-3">BIENVENIDOS A LA PÁGINA PRINCIPAL</h1>

<section class="formularios">
    
    <div class="row justify-content-center">
        <div class="col-12 col-md-5">
            <h2 class="text-center">Formulario Películas</h2>
            <form action="" id="peliculas">
                <label for="nombre" class="form-label">Nombre:</label>
                <input class="form-control" type="text" name="nombre">
                <label for="director" class="form-label">Director:</label>
                <input class="form-control" type="text" name="director">
                <label for="anioEstreno" class="form-label">Año estreno</label>
                <input class="form-control" type="number" name="anioEstreno">
                <button type="submit" class="btn btn-primary mt-2">Agregar</button>
            </form>
        </div>
        <div class="col-12 col-md-5">
            <h2 class="text-center">Formulario Series</h2>
            <form action="" id="series">
                <label for="nombre" class="form-label">Nombre:</label>
                <input class="form-control" type="text" name="nombre">
                <label for="temporadas" class="form-label">temporadas:</label>
                <input class="form-control" type="number" name="temporadas">
                <label for="anioEstreno" class="form-label">Año estreno</label>
                <input class="form-control" type="number" name="anioEstreno">
                <button type="submit" class="btn btn-primary mt-2">Agregar</button>   
            </form>
        </div>
    </div>
</section>